@import "C:/My/Photoshop/all.scss";
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
body {
  max-width: 1920px;
  font-family: "Goblin One", cursive;
  max-height: 1080px;
}
.system {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  &__day-show {
    width: 5.2vw;
    min-width: 30px;
    object-fit: contain;
  }
  &__title {
    text-align: center;
  }
  &__date,
  &__time2 {
    font-size: calc(17px + (80 - 17) * (100vw / 1920));
    @include min(80, 1920);
  }
  &__time2 {
    margin-top: 10px;
    margin-left: 30px;
  }
  &__quote {
    font-family: "Arial";
    width: 60%;
    font-weight: 500;
    min-width: 300px;
    margin-top: 10px;
    font-size: calc(14px + (35 - 14) * (100vw / 1920));
    @include min(35, 1920);
    font-style: italic;
    span {
      color: rgb(247, 229, 229);
      font-family: "Goblin One", cursive;
      font-weight: 100;
    }
  }
  &__inst {
    height: 200px;
    width: 60px;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
    & div:first-child {
      img {
        width: 55%;
      }
    }
    & div:nth-child(2) {
      img {
        width: 60%;
      }
    }
    & div:last-child {
      img {
        width: 70%;
      }
    }
    @media (max-width: 450px) {
      height: 140px;
    }
  }
  &__sounds {
    z-index: 10;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  &__sounds-container {
    right: 10px;
  }
  &__videous {
    bottom: 10px;
    left: 10px;
    position: absolute;
    z-index: 10;
  }
  &__notes {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    .command {
      img {
        width: 60%;
      }
    }
  }
  &__sounds,
  &__videous {
    .command img {
      width: 60%;
    }
  }
  // .system__video-big

  &__video-big {
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
  }
  // .system__vid-attr

  &__vid-attr {
    width: 80%;
    bottom: 10px;
    position: absolute;
    height: 50px;
    @media (max-width: 800px) {
      width: calc(100% - 160px);
    }
    display: none;
  }

  // .system__progress

  &__progress {
    width: 100%;
    height: 5px;
    background: #322f2f;
    border-radius: 5px;
    appearance: none;
    &::-webkit-slider-thumb {
      appearance: none;
      background: #0da6e4;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        transition: all 0.3s ease;
        opacity: 0.8;
      }
    }
  }
  &__progress-bar {
    height: 5px;
    border-radius: 5px;
    background: #092b6c;
    &:hover {
      transition: all 0.3s ease;
      opacity: 0.8;
    }
  }
  // .system__control
  &__control {
    width: 100%;
    color: #a1c7d6;
  }
  // .system__buttons
  &__buttons {
    width: 100px;
    img {
      width: 21px;
      object-fit: contain;
      cursor: url(./images/hand.png), default;
    }
  }
  @media (max-width: 450px) {
    &__videous,
    &__sounds {
      bottom: 80px;
    }
    &__vid-attr {
      width: 95%;
    }
  }
  // .system__cont-audio

  &__cont-audio {
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: -60px;
    width: 300px;
    right: 0;
    display: none;
  }
}
.black {
  background: black;
  display: none;
}
.hover-inst {
  animation: hover-inst 0.5s linear;
}
@keyframes hover-inst {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.command {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  background: #092b6c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: url(./images/hand.png), default;
  img {
    object-fit: contain;
  }
  &:hover {
    background: #0da6e4;
    transition: all 0.5s linear;
  }
  @media (max-width: 450px) {
    width: 40px;
    height: 40px;
  }
}
.container {
  display: none;
  height: 260px;
  width: 200px;
  position: absolute;
  top: -280px;
  div {
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 20px;
    background: white;
    position: relative;
    justify-content: stretch !important;
    background: linear-gradient(
      198deg,
      rgba(9, 43, 108, 1) 30%,
      rgba(13, 166, 228, 1) 69%
    );
    cursor: url(./images/hand.png), default;
    & p:first-child {
      padding-left: 4px;
      color: white;
    }
    &:hover {
      background: #0da6e4;
      transition: all 0.5s ease;
      color: rgba(9, 43, 108, 1);
      & p:first-child {
        color: rgba(9, 43, 108, 1);
      }
    }
  }
  img {
    width: 20px;
    position: absolute;
    right: 5px;
  }
  .over {
    max-height: 20px;
    overflow: auto;
    padding-left: 10px;
    max-height: 160px;
  }
}
.calculator {
  display: none;
  background: #092b6c;
  width: 35%;
  min-width: 300px;
  position: absolute;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border-radius: 5px;
  color: #322f2f;
  font-weight: 800;
  justify-items: center;
  max-width: 450px;
  & > div,
  textarea {
    width: calc(100% - 20px);
  }
  // .calculator__title

  &__title {
    margin-top: 5px;
    height: 30px;
    p {
      padding-left: 10px;
    }
  }

  // .calculator__move

  &__move {
    width: 30px;
    border-radius: 10px;
    height: 100%;
    background: #075b7d;
    cursor: url(./images/hand.png), default;
    &:hover {
      background: #cae8f4;
      transition: all 0.3s ease;
    }
  }

  // .calculator__input

  &__input {
    max-height: 250px;
    resize: vertical;
    min-height: 100px;
    background: #0da6e4;
    border: 3px solid white;
    border-radius: 5px;
    &:focus {
      transition: all 0.3s ease;
      background: #075b7d;
      border: 3px solid#0da6e4;
      outline: none;
    }
    &::placeholder {
      color: #322f2f;
      font-weight: 800;
      font-size: 20px;
    }
  }

  // .calculator__result

  &__result {
    height: 30px;
    background: white;
    border-radius: 10px;
    & p {
      padding-right: 10px;
    }
  }

  // .calculator__control

  &__control {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    height: 210px;
    padding-bottom: 60px;
    div {
      height: 35px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 20px;
      cursor: url(./images/hand.png), default;
      background: #cae8f4;
      &:hover {
        border-radius: 20px;
        transition: all 0.3s ease;
        background: #0da6e4;
      }
      img {
        height: 30px;
      }
    }
  }
}
.game {
  $green: #0e6655;
  $gray: #909497;
  $blue: #5dade2;
  $yellow: #f4d03f;
  height: 400px;
  min-width: 300px;
  width: 40%;
  max-width: 550px;
  z-index: 20;
  display: none;
  position: absolute;
  border-radius: 5px;
  background: $green;
  & > div {
    width: calc(100% - 20px);
  }
  &__title {
    @extend .calculator__title;
    color: #322f2f;
    p{
      max-height: 20px;
      overflow: auto;
      width: 80%;
    }
  }
  &__move {
    @extend .calculator__move;
    background: $gray;
  }
  &__field {
    height: 340px;
    position: relative;
    bottom: 20px;
  }
  // .game__main-select

  &__main-select {
    & p:first-child{
      font-weight: 700;
      font-size: 20px;
      color: $blue;
      text-align: center;
    }
    z-index: 2;
  }

  // .game__select

  &__select {
    margin-top: 10px;
    width:100%;
    height: 310px;
    color: $yellow;
    font-size: 30px;
    & > div{
      background: $gray;
      height: 65px;
      width: 60%;
      min-width: 230px;
      border-radius: 20px;
      cursor: url(./images/hand.png), default;
      &:hover{
        transition: all 0.3s ease;
        background: $yellow;
        color: $gray;
      }
      transition: all 0.3s ease;
    }
  }

  // .game__block

  &__block {
    width: 90px;
    img{
      display: block;
      width: 30px;
    }
  }

  &__process {
    width:100%;
    height:100%;
  }

  // .game__first

  &__first {
    height: 60px;
    width:98%;
  }

  // .game__round

  &__round {
    align-self: flex-start;
    height:40px;
    width: 40px;
    background: $gray;
    color: $yellow;
    border-radius: 10px;
    font-size: 13px;
  }

  // .game__grid

  &__grid {
    height:100%;
    width: 210px;
    display: grid;
    grid-template-columns: 90px 120px;
    grid-auto-rows: 1fr;
    grid-gap: 5px;
    & > div{
      display:flex;
      justify-content:center;
      align-items:center;
      position:relative;
      border:1px solid $gray;
    }
    img{
      width: 30px;
    }
    color: $blue;
    & div:first-child , & div:nth-child(2){
      font-size: 12px;
      justify-content: space-around;
    }
  }

  // .game__opponent

  &__opponent {
    width:100%;
    height: 100px;
    top: -10px;
    img{
      width: 17%;
    }
  }

  // .game__result


  &__you {
    top: -20px;
    width:100%;
    height: 100px;
  }

  // .game__pick

  &__pick {
    width: 80%;
    height:100%;
    img{
      width: 23%;
    }
  }
  [alt="typical"]{
    transition: all 1s ease-in-out;
    position: relative;
    cursor: url(./images/hand.png), default;
    &:hover{
      transform: scale(1.2,1.2);
      transition: all 0.3s ease;
    }
  }
  // .game__final-result
  &__repeat{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: $gray;
    cursor: url(./images/hand.png), default;
    &:hover{
      transition: all 0.3s ease;
      background: $green;
    }
    img{
      width: 30px;
    }
  }
  &__final-result {
    background-size: cover;
    background-position: center;
    z-index: 2;
    font-size: calc(30px + (50 - 30) * (100vw / 1920));
    color: $blue;
  }
}
.my-hand{
  position: relative;
}
.opponent-hand{
  position: relative;
      transform: rotate(180deg);
}
.move-up{
  animation: move-up 3s linear;
}
.move-down{
  animation: move-down 3s linear;
}
[move]{
  img{
    width: 90%;
  }
}
@keyframes move-up{
  0%{
    top: 0;
  }
  14.3%{
    top: 15px;
  }
  28.6%{
    top: 0;
  }
  42.9%{
    top: 15px;
  }
  57.2%{
    top: 0;
  }
  71.5%{
    top: 15px;
  }
  85.8%{
    top: 0;
  }
  100%{
    top: 15px;
  }
}
@keyframes move-down{
  0%{
    top: 0;
  }
  14.3%{
    top: -15px;
  }
  28.6%{
    top: 0;
  }
  42.9%{
    top: -15px;
  }
  57.2%{
    top: 0;
  }
  71.5%{
    top: -15px;
  }
  85.8%{
    top: 0;
  }
  100%{
    top: -15px;
  }
}
.appear{
  animation: appear 0.5s linear;
}
@keyframes appear{
  0%{
    transform: scale(0.1,0.1) rotate(210deg);
  }
  100%{
    transform: scale(1,1) rotate(0deg);
  }
}
.victoryFon{
  background-image: url(./images/victoryFon.jpg);
}
.defeat{
  background-image: url(./images/defeat.jpg);
}