@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
* {
  margin: 0;
}

body {
  margin: 0 auto;
}

.beet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.beet2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.plast {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body {
  max-width: 1920px;
  font-family: "Goblin One", cursive;
  max-height: 1080px;
}

.system {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.system__day-show {
  width: 5.2vw;
  min-width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.system__title {
  text-align: center;
}

.system__date, .system__time2 {
  font-size: calc(17px + (80 - 17) * (100vw / 1920));
}

@media (min-width: 1920px) {
  .system__date, .system__time2 {
    font-size: 80px;
  }
}

.system__time2 {
  margin-top: 10px;
  margin-left: 30px;
}

.system__quote {
  font-family: "Arial";
  width: 60%;
  font-weight: 500;
  min-width: 300px;
  margin-top: 10px;
  font-size: calc(14px + (35 - 14) * (100vw / 1920));
  font-style: italic;
}

@media (min-width: 1920px) {
  .system__quote {
    font-size: 35px;
  }
}

.system__quote span {
  color: #f7e5e5;
  font-family: "Goblin One", cursive;
  font-weight: 100;
}

.system__inst {
  height: 200px;
  width: 60px;
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
}

.system__inst div:first-child img {
  width: 55%;
}

.system__inst div:nth-child(2) img {
  width: 60%;
}

.system__inst div:last-child img {
  width: 70%;
}

@media (max-width: 450px) {
  .system__inst {
    height: 140px;
    top: 60px;
    right: 0;
    z-index: 21;
  }
}

.system__sounds {
  z-index: 30;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.system__sounds-container {
  right: 10px;
}

.system__videous {
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 10;
}

.system__notes {
  position: absolute;
  right: 10px;
  z-index: 10;
}

.system__notes .command img {
  width: 60%;
}

@media (max-width: 450px) {
  .system__notes {
    z-index: 30;
  }
}

.system__sounds .command img, .system__videous .command img {
  width: 60%;
}

.system__video-big {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.system video {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.system__vid-attr {
  width: 80%;
  bottom: 10px;
  position: absolute;
  height: 50px;
  display: none;
}

@media (max-width: 800px) {
  .system__vid-attr {
    width: calc(100% - 160px);
  }
}

.system__progress {
  width: 100%;
  height: 5px;
  background: #322f2f;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.system__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: #0da6e4;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 12;
}

.system__progress::-webkit-slider-thumb:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.system__progress-bar {
  height: 5px;
  border-radius: 5px;
  background: #092b6c;
}

.system__progress-bar:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.system__control {
  width: 100%;
  color: #a1c7d6;
  margin-top: 10px;
}

.system__buttons {
  width: 100px;
}

.system__buttons img {
  width: 21px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: url(./images/hand.png), default;
}

@media (max-width: 450px) {
  .system__videous, .system__sounds {
    bottom: 80px;
  }
  .system__vid-attr {
    width: 95%;
  }
}

.system__cont-audio {
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top: -60px;
  width: 300px;
  right: 0;
  display: none;
}

.system__vol-audio {
  top: -70px;
  width: 260px;
  color: #092b6c;
  text-shadow: 1px 1px 1px white;
}

.system__vol-audio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
  background: #0da6e4;
  border-radius: 5px;
}

.system__vol-audio input::-webkit-slider-thumb {
  background: white;
  height: 15px;
  width: 7px;
  border-radius: 5px;
  -webkit-appearance: none;
          appearance: none;
  cursor: url(./images/hand.png), default;
}

.black {
  background: black;
  display: none;
}

.hover-inst {
  -webkit-animation: hover-inst 0.5s linear;
          animation: hover-inst 0.5s linear;
}

@-webkit-keyframes hover-inst {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hover-inst {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.command {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  background: #092b6c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: url(./images/hand.png), default;
}

.command img {
  -o-object-fit: contain;
     object-fit: contain;
}

.command:hover {
  background: #0da6e4;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media (max-width: 450px) {
  .command {
    z-index: 600;
    width: 40px;
    height: 40px;
  }
}

.container {
  display: none;
  height: 260px;
  width: 200px;
  position: absolute;
  top: -280px;
}

.container div {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 20px;
  background: white;
  position: relative;
  -webkit-box-pack: stretch !important;
      -ms-flex-pack: stretch !important;
          justify-content: stretch !important;
  background: linear-gradient(198deg, #092b6c 30%, #0da6e4 69%);
  cursor: url(./images/hand.png), default;
}

.container div p:first-child {
  padding-left: 4px;
  color: white;
}

.container div:hover {
  background: #0da6e4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #092b6c;
}

.container div:hover p:first-child {
  color: #092b6c;
}

.container img {
  width: 20px;
  position: absolute;
  right: 5px;
}

.container .over {
  max-height: 20px;
  overflow: auto;
  padding-left: 10px;
  max-height: 160px;
}

.calculator {
  width: 35%;
  background: #092b6c;
  z-index: 20;
  position: absolute !important;
  min-height: 550px;
  grid-gap: 20px;
  border-radius: 5px;
  color: #322f2f;
  font-weight: 800;
  min-width: 310px;
  max-width: 450px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  display: none;
}

.calculator > div,
.calculator textarea {
  width: calc(100% - 20px);
}

.calculator__title, .game__title, .time__title {
  margin-top: 5px;
  height: 30px;
}

.calculator__title p, .game__title p, .time__title p {
  padding-left: 10px;
}

.calculator__move, .game__move, .time__move {
  width: 30px;
  border-radius: 10px;
  height: 100%;
  background: #075b7d;
  cursor: url(./images/hand.png), default;
}

.calculator__move:hover, .game__move:hover, .time__move:hover {
  background: #cae8f4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.calculator__input {
  max-height: 250px;
  resize: vertical;
  min-height: 100px;
  background: #0da6e4;
  border: 3px solid white;
  border-radius: 5px;
}

.calculator__input:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #075b7d;
  border: 3px solid #0da6e4;
  outline: none;
}

.calculator__input::-webkit-input-placeholder {
  color: #322f2f;
  font-weight: 800;
  font-size: 20px;
}

.calculator__input:-ms-input-placeholder {
  color: #322f2f;
  font-weight: 800;
  font-size: 20px;
}

.calculator__input::-ms-input-placeholder {
  color: #322f2f;
  font-weight: 800;
  font-size: 20px;
}

.calculator__input::placeholder {
  color: #322f2f;
  font-weight: 800;
  font-size: 20px;
}

.calculator__result {
  height: 30px;
  background: white;
  border-radius: 10px;
}

.calculator__result p {
  padding-right: 10px;
}

.calculator__control {
  background: #092b6c;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  height: 20px;
  height: 280px;
  padding-bottom: 40px;
}

.calculator__control div {
  height: 35px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 20px;
  cursor: url(./images/hand.png), default;
  background: #cae8f4;
}

.calculator__control div:hover {
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #0da6e4;
}

.calculator__control div img {
  height: 30px;
}

.game {
  height: 400px;
  min-width: 300px;
  width: 40%;
  max-width: 550px;
  z-index: 20;
  display: none;
  position: absolute;
  border-radius: 5px;
  background: #0e6655;
}

.game > div {
  width: calc(100% - 20px);
}

.game__title, .time__title {
  color: #322f2f;
}

.game__title p, .time__title p {
  max-height: 20px;
  overflow: auto;
  width: 80%;
}

.game__move, .time__move {
  background: #909497;
}

.game__field {
  height: 340px;
  position: relative;
  bottom: 20px;
}

.game__main-select {
  z-index: 2;
}

.game__main-select p:first-child {
  font-weight: 700;
  font-size: 20px;
  color: #5dade2;
  text-align: center;
}

.game__select {
  margin-top: 10px;
  width: 100%;
  height: 310px;
  color: #f4d03f;
  font-size: 30px;
}

.game__select > div {
  background: #909497;
  height: 65px;
  width: 60%;
  min-width: 230px;
  border-radius: 20px;
  cursor: url(./images/hand.png), default;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.game__select > div:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f4d03f;
  color: #909497;
}

.game__block {
  width: 90px;
}

.game__block img {
  display: block;
  width: 30px;
}

.game__process {
  width: 100%;
  height: 100%;
}

.game__first {
  height: 60px;
  width: 98%;
}

.game__round {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 40px;
  width: 40px;
  background: #909497;
  color: #f4d03f;
  border-radius: 10px;
  font-size: 13px;
}

.game__grid {
  height: 100%;
  width: 210px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 120px;
      grid-template-columns: 90px 120px;
  grid-auto-rows: 1fr;
  grid-gap: 5px;
  color: #5dade2;
}

.game__grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #909497;
}

.game__grid img {
  width: 30px;
}

.game__grid div:first-child,
.game__grid div:nth-child(2) {
  font-size: 12px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game__opponent {
  width: 100%;
  height: 100px;
  top: -10px;
}

.game__opponent img {
  width: 17%;
}

.game__you {
  top: -20px;
  width: 100%;
  height: 100px;
}

.game__pick {
  width: 80%;
  height: 100%;
}

.game__pick img {
  width: 23%;
}

.game [alt="typical"] {
  position: relative;
  cursor: url(./images/hand.png), default;
}

.game [alt="typical"]:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.game__repeat {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #909497;
  cursor: url(./images/hand.png), default;
}

.game__repeat:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #0e6655;
}

.game__repeat img {
  width: 30px;
}

.game__final-result {
  background-size: cover;
  background-position: center;
  z-index: 2;
  font-size: calc(30px + (50 - 30) * (100vw / 1920));
  color: #5dade2;
}

.my-hand {
  position: absolute;
}

.opponent-hand {
  position: relative;
}

.move-up {
  -webkit-animation: move-up 3s linear;
          animation: move-up 3s linear;
}

.move-down {
  -webkit-animation: move-down 3s linear;
          animation: move-down 3s linear;
}

[move] img {
  width: 90%;
}

@-webkit-keyframes move-up {
  0% {
    top: 0;
  }
  14.3% {
    top: 15px;
  }
  28.6% {
    top: 0;
  }
  42.9% {
    top: 15px;
  }
  57.2% {
    top: 0;
  }
  71.5% {
    top: 15px;
  }
  85.8% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

@keyframes move-up {
  0% {
    top: 0;
  }
  14.3% {
    top: 15px;
  }
  28.6% {
    top: 0;
  }
  42.9% {
    top: 15px;
  }
  57.2% {
    top: 0;
  }
  71.5% {
    top: 15px;
  }
  85.8% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

@-webkit-keyframes move-down {
  0% {
    top: 0;
  }
  14.3% {
    top: -15px;
  }
  28.6% {
    top: 0;
  }
  42.9% {
    top: -15px;
  }
  57.2% {
    top: 0;
  }
  71.5% {
    top: -15px;
  }
  85.8% {
    top: 0;
  }
  100% {
    top: -15px;
  }
}

@keyframes move-down {
  0% {
    top: 0;
  }
  14.3% {
    top: -15px;
  }
  28.6% {
    top: 0;
  }
  42.9% {
    top: -15px;
  }
  57.2% {
    top: 0;
  }
  71.5% {
    top: -15px;
  }
  85.8% {
    top: 0;
  }
  100% {
    top: -15px;
  }
}

.appear {
  -webkit-animation: appear 0.5s linear;
          animation: appear 0.5s linear;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0.1, 0.1) rotate(210deg);
            transform: scale(0.1, 0.1) rotate(210deg);
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0.1, 0.1) rotate(210deg);
            transform: scale(0.1, 0.1) rotate(210deg);
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
  }
}

.victoryFon {
  background-image: url(./images/victoryFon.jpg);
}

.defeat {
  background-image: url(./images/defeat.jpg);
}

.time {
  background: #273746;
  min-width: 300px;
  max-width: 550px;
  width: 45%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  position: absolute;
  z-index: 20;
  height: 500px;
  border-radius: 20px;
  display: none;
}

.time__title {
  width: calc(100% - 20px);
  color: #e74c3c;
}

.time__move {
  background: #a569bd;
}

.time__list {
  width: 90%;
  max-width: 456px;
  margin-top: 20px;
}

.time__part {
  font-size: 10px;
  color: #2e86c1;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.time__part p {
  margin-top: 5px;
}

.time__process {
  width: calc(100% - 20px);
  height: 350px;
  margin-top: 10px;
}

.time__process > div {
  width: 100%;
  height: 100%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.time__circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #a569bd;
  cursor: url(./images/hand.png), default;
}

.time__circle:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #e74c3c;
}

.time__circle img {
  width: 70%;
}

.time__show-time {
  margin-top: 20px;
  font-size: calc(25px + (40 - 25) * (100vw / 1920));
  color: #2e86c1;
}

.time__manage {
  margin-top: 5px;
}

.time__manage > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e86c1;
  cursor: url(./images/hand.png), default;
}

.time__manage > div p {
  font-size: 14px;
  color: #273746;
}

.time__manage > div:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #a569bd;
}

.time__manage > div:hover * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.time__manage img {
  width: 50%;
}

.time__box {
  margin-top: 20px;
  height: 210px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  border: 3px solid #e74c3c;
  border-radius: 10px;
  overflow: auto;
}

.time__box > div {
  width: 100%;
  min-height: 30px;
}

.time__box::-webkit-scrollbar {
  width: 10px;
  background-color: #a569bd;
}

.time__box::-webkit-scrollbar-thumb {
  background: #2e86c1;
  border-radius: 10px;
  cursor: move;
}

.time__fool {
  border-radius: 5px;
  width: 100%;
  height: 20px;
  background: #2e86c1;
}

.time__loop-status {
  width: 90%;
  height: 100%;
  color: #273746;
}

.time__loop-status p {
  font-size: calc(8px + (20 - 8) * (100vw / 1920));
}

@media (min-width: 1920px) {
  .time__loop-status p {
    font-size: 20px;
  }
}

@media (max-width: 840px) {
  .time__loop-status p {
    font-size: 10px;
  }
}

.time .bigSize {
  font-size: 18px;
}

.time .box {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: #273746;
}

.time__closeTimer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #2e86c1;
  position: absolute;
  top: 0;
  right: 0;
  cursor: url(./images/hand.png), default;
}

.time__closeTimer img {
  width: 70%;
}

.time__closeTimer:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #e74c3c;
}

.time__alarmClock {
  display: none;
}

.time__main {
  width: 50%;
  border-radius: 50%;
  border: 5px solid white;
  max-width: 220px;
  margin-top: 20px;
}

.time canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.time__info {
  border-radius: 50%;
  width: 90%;
  height: 90%;
  position: relative;
  background: #273746;
}

.time__info .beet {
  font-size: calc(13px + (25 - 13) * (100vw / 1920));
  width: 80%;
  min-width: 130px;
  color: #e74c3c;
}

@media (min-width: 1920px) {
  .time__info .beet {
    font-size: 25px;
  }
}

.time__put-image {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #a569bd;
}

.time__put-image img {
  height: 30px;
}

.time__select {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 10px);
}

.time__container {
  font-size: 10px;
  color: #2e86c1;
}

.time__front {
  width: calc(100% - 60px);
  height: 32px;
  align-self: flex-end;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 30px (1fr)[3];
      grid-template-columns: 30px repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.time__input {
  width: 50px;
}

@media (max-width: 1120px) {
  .time__input {
    width: 40px;
  }
}

.time__timer-start {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2e86c1;
}

.time__timer-start img {
  width: 15px;
}

.time__select-img {
  width: 150px;
  height: 200px;
  position: absolute;
  right: -50px;
  bottom: 0;
}

.time__grid {
  display: none;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  background: #2e86c1;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .time__grid {
    right: 50px;
  }
}

.time__grid-cont {
  width: 140px;
  height: 140px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.time__grid-cont div {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #a569bd;
}

.time__grid-cont img {
  width: 30px;
}

@media (max-width: 950px) {
  .time__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .time__container p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 5px;
  }
  .time__input {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 90%;
  }
}

.time__timer {
  display: none;
}

.time__timer div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.time__add, .time__ok {
  position: absolute !important;
  width: 40px;
  height: 40px;
  right: 10px;
  background: #a569bd;
}

.time__add img, .time__ok img {
  width: 70%;
}

.time__add:hover, .time__ok:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #2e86c1;
}

@media (max-width: 860px) {
  .time__add, .time__ok {
    right: -5px;
  }
}

.time__add {
  top: 20px;
}

.time__ok {
  top: 70px;
}

.time__control-time {
  width: 70%;
  max-width: 300px;
  height: 160px;
  color: #2e86c1;
  font-size: 35px;
  border: 3px solid #e74c3c;
  border-radius: 10px;
}

.time__control-time img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.time__num {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}

.time__col-hours {
  left: 10px;
}

.time__col-min {
  right: 10px;
}

.time__process2 {
  width: 90%;
  height: 170px;
  margin-top: 20px;
}

.time__set {
  width: 100%;
  height: 100px;
  display: none;
}

.time__col1 {
  height: 100%;
  width: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.time__way {
  width: 100%;
  font-size: 10px;
  margin-top: 0;
  color: #e74c3c;
}

.time__way p {
  padding-left: 10px;
}

.time__col2 {
  height: 100%;
  width: calc(100% - 115px);
}

.time__message {
  margin-top: 20px;
  width: 100%;
  color: #2e86c1;
}

.time__message input {
  width: calc(100% - 120px);
}

@media (max-width: 980px) {
  .time__message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .time__message input {
    margin-top: 5px;
    width: 100%;
  }
}

.time__day-type-grid div {
  width: 20px;
  height: 20px;
  color: #a569bd;
  border: 2px solid #e74c3c;
  font-size: 10px;
}

.time__day-type-grid div:hover {
  color: #e74c3c;
  border: 2px solid #a569bd;
}

.time__big-input {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  font-size: 12px;
  color: #2e86c1;
  display: none;
}

.time__big-input input {
  width: 100%;
  max-width: 100px;
}

.time__big-input p {
  margin-bottom: 5px;
}

.time__col-container {
  width: 100%;
  height: 100%;
  border: 3px solid #a569bd;
  border-radius: 10px;
  font-size: 15px;
  overflow: hidden;
  color: #e74c3c;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.time__col-container > div {
  width: calc(100% - 10px);
  height: 56px;
  border-radius: 10px;
}

.time__col-container > div > div {
  background: #2e86c1;
  border-radius: 10px;
  width: 100%;
  height: 46px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.time__col-container::-webkit-scrollbar-thumb {
  background: #a569bd;
  border-radius: 10px;
}

.time__front2 {
  width: 100%;
  height: 24px;
}

.time__back {
  margin-top: -3px;
  width: 98%;
  color: #273746;
  max-height: 15px;
  overflow: auto;
  font-size: 12px;
  text-shadow: 1px 1px 1px #e74c3c;
}

.time__fullDate {
  left: 7px;
}

.time__data {
  height: 100%;
  width: calc(100% - 129px);
}

.time__farTime {
  text-shadow: 3px 3px 3px #273746;
  color: #a569bd;
}

.time__delete {
  right: 7px;
  width: 25px;
  height: 25px;
  background: #2e86c1;
}

.time__delete img {
  width: 70%;
}

.time__delete:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #e74c3c;
}

.time__list2 {
  height: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.time__list2 div {
  min-width: 20px;
  height: 20px;
  background: #a569bd;
  font-size: 10px;
}

.time__list2::-webkit-scrollbar-thumb {
  background: #a569bd;
  border-radius: 10px;
}

.input-style {
  max-height: 24px;
  background: #a569bd;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #e74c3c;
  font-weight: 800;
}

.input-style:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 4px solid #e74c3c;
}

.column {
  height: 100%;
  width: 40px;
  font-size: 20px;
  cursor: -webkit-grab;
  cursor: grab;
}

.column div {
  position: relative;
}

.radio {
  min-width: 30px;
  min-height: 30px;
  background: #2e86c1;
  cursor: url(./images/hand.png), default;
}

.radio div {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #273746;
}

.radio:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #e74c3c;
}

.alert {
  z-index: 40;
  display: none;
}

.alert__main {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 260px;
  width: 30%;
  height: 170px;
  top: 0;
  background: #092b6c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  font-size: calc(10px + (20 - 10) * (100vw / 1920));
}

@media (min-width: 1920px) {
  .alert__main {
    font-size: 20px;
  }
}

.alert__img {
  width: 60px;
  height: 60px;
  background: white;
}

.alert__img img {
  width: 40px;
}

.alert__close {
  background: #0da6e4;
  width: 40px;
  height: 40px;
  position: absolute !important;
  z-index: 22;
  top: 10px;
  right: 10px;
  cursor: url(./images/hand.png), default;
}

.alert__close img {
  width: 30px;
}

.alert__close:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.alert__message {
  text-align: center;
  width: 80%;
  color: white;
  font-style: italic;
}

.list-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(20px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  justify-items: center;
}

.fixed {
  width: calc(100% - 20px);
  max-width: 450px;
}

.seePicture {
  position: absolute;
  bottom: 0;
}

.seePicture img {
  width: 20px;
}

.activatedRadio div {
  opacity: 1;
}

::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.selected-ball {
  background: #e74c3c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 3px solid #2e86c1;
}

.hover-circle {
  cursor: url(./images/hand.png), default;
}

.hover-circle:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #e74c3c;
}

@media (min-width: 1120px) {
  #margin {
    margin-left: 20px;
  }
}

.circle {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: url(./images/hand.png), default;
}

.animate-alert {
  -webkit-animation: animate-alert 0.5s linear;
          animation: animate-alert 0.5s linear;
}

@-webkit-keyframes animate-alert {
  0% {
    top: -170px;
    -webkit-transform: perspective(400px) rotateX(60deg);
            transform: perspective(400px) rotateX(60deg);
  }
  100% {
    top: 0px;
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg);
  }
}

@keyframes animate-alert {
  0% {
    top: -170px;
    -webkit-transform: perspective(400px) rotateX(60deg);
            transform: perspective(400px) rotateX(60deg);
  }
  100% {
    top: 0px;
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg);
  }
}

.up2 {
  top: -64.5px;
}

.selectedDay {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #2e86c1;
  color: #e74c3c !important;
}

.width-100 {
  max-width: 100px;
}

.cube {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 10px;
  cursor: url(./images/hand.png), default;
}

.cube img {
  width: 75%;
}

.notes {
  width: 350px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 19;
  display: none;
}

.notes__main {
  width: calc(100% - 10px);
  height: 100%;
  background: #4A235A;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.notes__add {
  background: #7FB3D5;
}

.notes__add:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #A2D9CE;
}

.notes__head {
  height: 40px;
  width: calc(100% - 20px);
  margin-top: 10px;
  max-width: 410px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  left: 10px;
}

.notes__body {
  width: calc(100% - 20px);
  margin-top: 10px;
  max-height: calc(100% - 62px);
  min-height: 150px;
  overflow: auto;
}

.notes__body > div {
  margin-top: 10px;
  width: 100%;
}

.notes__resize {
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background: #7FB3D5;
}

.notes__message {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
  color: #F9E79F;
  font-style: italic;
}

.notes__set-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #7FB3D5;
  cursor: url(./images/hand.png), default;
}

.notes__set-color:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #A2D9CE;
}

.notes__set-book-name {
  width: 60%;
  border-radius: 10px;
  background: #7FB3D5;
  border: none;
  outline: none;
  color: #4A235A;
  font-weight: 700;
  height: 25px;
  padding-left: 10px;
}

.notes__set-book-name::-webkit-input-placeholder {
  color: #4A235A;
}

.notes__set-book-name:-ms-input-placeholder {
  color: #4A235A;
}

.notes__set-book-name::-ms-input-placeholder {
  color: #4A235A;
}

.notes__set-book-name::placeholder {
  color: #4A235A;
}

.notes__set-book-name:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 3px 3px 3px #A2D9CE;
          box-shadow: 3px 3px 3px #A2D9CE;
}

.notes__front {
  width: 233px;
  color: #F9E79F;
}

.notes__front [alt="main"] {
  height: 35px;
}

.notes__line1 {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.notes__line1 p {
  padding-left: 10px;
  overflow: auto;
  max-height: 24px;
}

.notes__line1 p::-webkit-scrollbar-thumb {
  background: #A2D9CE;
}

.notes__line1 p::-webkit-scrollbar {
  background: #F9E79F;
}

.notes__line2 {
  height: 35px;
  width: 170px;
  margin-top: 5px;
}

.notes__line2 img {
  width: 20px;
}

.notes__close {
  width: 35px;
  height: 35px;
  background: #A2D9CE;
  display: none;
}

.notes__close:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #7FB3D5;
}

.notes__close:hover img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.notes__open {
  display: block;
  cursor: url(./images/hand.png), default;
}

.notes__back {
  margin-top: 3px;
  height: 376px;
  width: calc(100% - 6px);
  border-radius: 10px;
  border: 3px solid #F9E79F;
  display: none;
}

.notes__info {
  height: 35px;
  width: 100%;
  font-size: 10px;
  color: #A2D9CE;
  border-bottom: 3px solid #F9E79F;
}

.notes__info div {
  height: 100%;
  border-radius: 10px;
  padding-top: 5px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.notes__info div:first-child {
  padding-left: 5px;
}

.notes__info div:last-child {
  padding-right: 5px;
}

.notes__fill {
  height: 45px;
  width: calc(100% - 10px);
}

.notes textarea {
  resize: none;
  background: #A2D9CE;
  border-radius: 5px;
  width: calc(100% - 50px);
  color: #7FB3D5;
  font-weight: 700;
}

.notes textarea:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  border: 2px solid #7FB3D5;
}

.notes textarea::-webkit-input-placeholder {
  padding-left: 10px;
  color: #4A235A;
}

.notes textarea:-ms-input-placeholder {
  padding-left: 10px;
  color: #4A235A;
}

.notes textarea::-ms-input-placeholder {
  padding-left: 10px;
  color: #4A235A;
}

.notes textarea::placeholder {
  padding-left: 10px;
  color: #4A235A;
}

.notes__add-text {
  width: 30px;
  height: 30px;
  background: #A2D9CE;
}

.notes__add-text:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #7FB3D5;
}

.notes__container {
  width: 100%;
  height: 270px;
  border-radius: 10px;
  background: #7FB3D5;
  overflow: auto;
}

.notes__container > div {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.notes__container::-webkit-scrollbar {
  background: #4A235A;
  width: 6px;
}

.notes__container::-webkit-scrollbar-thumb {
  background: #F9E79F;
  border-radius: 10px;
}

.notes__insert {
  color: #7FB3D5;
  height: 35px;
  width: calc(100% - 20px);
  background: #4A235A;
  border-radius: 10px;
}

.notes__insert:hover {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background: #A2D9CE;
  color: #F9E79F;
}

.notes__text {
  position: relative;
  left: 5px;
  font-size: 10px;
  max-width: calc(100% - 35px);
  max-height: 24px;
  overflow: auto;
}

.notes__delete {
  width: 25px;
  height: 25px;
  background: #7FB3D5;
  right: 5px;
  opacity: 0.5;
  display: none;
}

.notes__delete:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}

.scroll::-webkit-scrollbar {
  background: #F9E79F;
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #7FB3D5;
  border-radius: 10px;
}

.set {
  font-size: 14px;
  color: #7FB3D5;
  font-weight: 700;
}

.notes-min-size {
  min-width: 320px;
}

.goLeft {
  -webkit-animation: goLeft 0.5s linear;
          animation: goLeft 0.5s linear;
}

@-webkit-keyframes goLeft {
  0% {
    width: 0;
  }
  100% {
    width: 320px;
  }
}

@keyframes goLeft {
  0% {
    width: 0;
  }
  100% {
    width: 320px;
  }
}

.reversed {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.un-reversed {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.message2 {
  font-size: 20px;
  color: #4A235A;
}

*::-moz-selection {
  background: #856704;
}

*::selection {
  background: #856704;
}
/*# sourceMappingURL=style.css.map */